<script>
    startClick = () => {
        console.log('WakeUp');
        $.post('/wakeup',
            (sucess) => { console.log('Sucess', sucess); });

    };
</script>


<div class="homeContainer">
    <div class="homeCenter">
        <div>
            <img alt="FavIcon" class="imageContainer" src={{favIcon}}>
        </div>
        <div>
            <div> {{ title }} </div>
            <div> {{ message }} </div>
        </div>
    </div>
    <div class="buttonContainer">
        <button class="button secondary startButton" onclick=" startClick() ">Wake Me Up</button>
    </div>
</div>